.countryContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;

}
.countryDetails img{
  width: 150px;
}
.countryDetails{
  width: 400px;
  border: 1px solid goldenrod;
  text-align: center;
  background-color: lightblue;
  color: black;
}
.App{
  width: 100%;
  background-color:gold;
  margin: 0% auto;
}